
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>期末專題</title>
    
    <link href="~/Content/Css_Style.css" rel="stylesheet" />
</head>
<body>
    <div class="head1">
        <a href="" style="margin-left:500px; margin-top:30px;">
            <img src="~/Content/images/Logo1.png" />
        </a><a href="" style="margin-left:510px; margin-top:100px;"><img src="images/Member.png" /></a>
        <a href="" style="margin-left:5px; margin-top:105px;"><img src="images/search (1).png" /></a>
    </div>
    <div class="Title1">

    </div>
    <div class="div3"><p>註冊新帳號</p></div>
    <div class="Bothall">
        <form method="get">
            <p class="p1">會員資料註冊</p><p class="p2"><span class="sp1">( *為必填 )</span></p>
            <div class="dvv">
                <div class="dv1">
                    <label class="lab"><span class="spn1">*</span> 電子郵件 :</label><br />
                    <input type="text" name="Email" id="mail" />
                </div>
                <div class="dv1">
                    <label class="lab"><span class="spn1">*</span> 姓名 :</label><br />
                    <input type="text" name="Name" id="Name" /><br />
                    <span id="Name1"></span>
                </div>
                <div class="dv1">
                    <label class="lab"><span class="spn1">*</span> 密碼 :</label><br />
                    <input type="password" name="Password" id="pass" maxlength="10" />
                </div>
                <div class="dv1">
                    <label class="lab"><span class="spn1">*</span> 確認密碼 :</label><br />
                    <input type="password" name="Password1" id="pass1" maxlength="10" />
                </div>
                <div>
                    <input type="submit" value="加入會員" name="btn" class="div2" />
                </div>
            </div><br /><br /><br /><br /><br />
            <div class="underline1"><div class="underline2"></div><div class="font1">or</div><div class="underline3" s></div></div><br />
            <div class="dvv1">
                <div class="p1">快速註冊</div>
                <div style="display: flex;width:100%">
                    <div class="button1">
                        <input type="button" value="" name="btn4" class="div4" />
                        <div class="button2"><img src="images/facebook.png" /></div>
                    </div>
                    <div class="button3">
                        <input type="button" value="" name="btn5" class="div5" />
                        <div class="button2"><img src="images/google.png" /></div>
                    </div>
                </div><br />
            </div>
            <div class="botton4">
                <div class="button5"><img src="images/Member.png" style="background-color:#FCFCFC;" /></div><div class="button6"><span>我已經有會員帳號了?</span></div>
                <div class="a1"><a href="http://google.com.tw"><span style="color:#46A3FF;">回登入頁面</span></a></div>
                <div class="a2"><span>註冊表示已經同意  </span><a href=""><span style="color:#46A3FF;">  TA TO服務條款</span></a></div>
            </div>
        </form>
    </div>
    
    <script src="~/Scripts/i會員登入.js"></script>
</body>
</html>