
@{
    ViewBag.Title = "New";
}

<h2>會員註冊</h2>
<form method="post">
    <p>
        姓名:
        <br /><input type="text" name="is會員資料姓名" />
    </p>

    <p>
        Email:
        <br /><input type="email" name="is會員資料Email" />
    </p>
    <p>
        密碼:
        <br /><input type="text" name="is會員資料密碼" />
    </p>
    <p>
        <input type="submit" value="送出" />
    </p>
</form>

